.elements {
  margin: 0;
  padding: 0;
  padding-top: 51px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  justify-items: center;
  gap: 20px 17px;
}

@media screen and (max-width: 918px) {
  .elements {
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 36px;
  }
}
