.auth__link {
  text-decoration: none;
  color: white;
  margin-top: 15px;
  display: block;
  text-align: center;
  transition: opacity 0.3s ease-out;
}

.auth__link:hover {
  cursor: pointer;
  opacity: 0.8;
}
