.profile__text {
  margin: 0;
  padding: 0;
  max-width: 336px;
  color: white;
  grid-area: profile-text;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* не переносить, скрывать выходящее за рамки, ставить три точки */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 704px) {
  .profile__text {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
