.popup__input {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: 400;
  font-size: 14px;
  line-height: 35px;
  color: #000000;
}
