.profile {
  margin: 0 auto;
  width: 100%;
  max-width: 880px;
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  column-gap: 30px;
  grid-template-areas:
    "avatar profile-info add-button";
  padding-top: 40px;
}

@media screen and (max-width: 918px) {
  .profile {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media screen and (max-width: 704px) {
  .profile {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, min-content);
    grid-template-areas:
      "avatar"
      "profile-info"
      "add-button";
    justify-items: center;
    row-gap: 26px;
    padding-top: 42px;
  }
}
