.profile__edit-button {
  margin: 0;
  padding: 0;
  max-width: 24px;
  min-height: 24px;
  grid-area: profile-edit-button;
  background-image: url('../../../images/profile/profile-edit-button.svg');
  background-size: 10px;
  background-position: center;
  background-color: black;
  background-repeat: no-repeat;
  border: 1px solid #FFFFFF;
  margin-bottom: 8px;
  transition: opacity 0.3s ease-out;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 704px) {
  .profile__edit-button {
    max-width: 18px;
    min-height: 18px;
    background-size: 7.5px;
  }
}